<section class="home-container">
    <h2>Read All Books</h2>
    <p>The books of our publishing house are available 
        at all city libraries throughout 
        the country as well as at local book stores.</p>
    <div class="button-container">
        <button class="customer" [routerLink]="['customer']" [routerLinkActive]="['active']"></button>
        <button class="employee" [routerLink]="['employee']" [routerLinkActive]="['active']"></button>
    </div>
</section>
<section class="home-statitics">
    <div class="hours">56000+ <span>HOURS OF READING</span></div>
    <div class="award">12 <span>book awards</span></div>
    <div class="readers">5671 <span>READERS</span></div>
    <div class="sale">13500+ <span>books sold</span></div>
</section>

